body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("images/table.png");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 32px;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  font-size: 40px;
  color: #016f32;
  width: 350px;
  background: goldenrod;
  padding: 15px 25px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.players {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  border: 5px solid white;
  padding: 5px 50px;
  border-radius: 10%;
}
